/* Police */
@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Sen:wght@400..800&display=swap');

* {
  font-family: "Chewy", system-ui;
  font-size: 1.15rem;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #000;
  color: #fff;
  min-height: 100vh;
  
}

a {
  text-decoration: none;
  
}

ul {
  list-style: none;
}

h1 {
  font-size: 2.25rem;
  margin-bottom: 0px;
  text-align: center;
}

h2 {
  margin-bottom: 0px;
  font-size: 1.5rem;
}

h3 {
  margin-bottom: 0px;
  font-size: 1.25rem;
}

p {
  text-align: justify;
}

.red {
  color: #D52E2E;
}

.green {
  color: #469F8B;
}

.yellow {
  color: #FFC200;
}

.grey {
  color: #BDBCBC;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 1; /* Réduit l'espace entre les lignes */ 
  letter-spacing: -2px;
}

/* Container KABOOM */
.kaboom-container {
  display: inline-block;
  position: relative;
}

/* Mot KABOOM avec explosion */
.kaboom {
  display: inline-block;
  font-size: 3.5rem;
  font-weight: bold;
  color: #fbe260;
  position: relative;
  z-index: 2;
  animation: kaboomColors 3s infinite linear, kaboomZoom 3s infinite ease-in-out;
}

@keyframes kaboomColors {
  0%   { color: #fbe260; }  /* jaune clair */
  50%  { color: #FFC200; }  /* doré */
  25%  { color: #FF6B00; }  /* orange vif */
  75%  { color: #D52E2E; }  /* rouge */
  50%  { color: #FFC200; }  /* doré */
  25%  { color: #FF6B00; }  /* orange vif */
  100% { color: #fbe260; }  /* retour au début */
}

/* Animation du zoom */
@keyframes kaboomZoom {
  0%   { transform: scale(1); }
  25%  { transform: scale(1.02); }
  50%  { transform: scale(1.04); } /* zoom */
  75%  { transform: scale(1.02); }
  100% { transform: scale(1); }   /* retour normal */
}


/* Navbar */
.navbar {
  background-color: #000;
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.navbar .logo img {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100px;
  transition: all 0.3s ease;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}

.navbar ul li {
  margin: 0 10px;
}

.navbar ul li a {
  text-decoration: none;
  color: #D52E2E;
  -webkit-text-stroke: 1px #00000028; 
  -webkit-text-fill-color: #D52E2E; 
  font-size: 1.5rem;
  padding: 8px 15px;
  border-radius: 5px;
  transition: all 0.3s ease;
  letter-spacing: -3px;
}

.navbar ul li a:hover {
  color: #a22020;
  -webkit-text-stroke: 1px #00000028; 
  -webkit-text-fill-color: #a22020; 
}

.navbar ul li a.play {
  background-color: transparent;
  color: #FFC200;
  -webkit-text-stroke: 1px #00000028; 
  -webkit-text-fill-color: #FFC200; 
  letter-spacing: -3px;
}

.navbar ul li a.play:hover {
  color: #c59702;
  -webkit-text-stroke: 1px #00000028; 
  -webkit-text-fill-color: #c59702; 
}

/* Burger menu */
.burger {
  display: none;
  font-size: 2rem;
  color: #FFC200;
  -webkit-text-stroke: 1px #ffffff; /* contour blanc */
  -webkit-text-fill-color: #c59702; /* couleur de remplissage */
  cursor: pointer;
  z-index: 1001;
  margin: 0px 10px;
  padding: 4px 10px;
}

.logo-burger {
  display: none;
}

/* Main content */
main.content {
  padding: 20px;
  max-width: 900px; 
  margin: auto;
}

main.play {
  background: url("../img/wallpaper_card_fn.webp") no-repeat center/cover;
  border-radius: 20px;
}

main.result {
  background: url("../img/wallpaper_fn.webp") no-repeat center/cover;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carte {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.carte img {
  height: 200px;
  border-radius: 10px;
}

.carte p {
  text-align: center;
}

/* Configuration */
.config {
  border: none;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Inputs */
input[type="number"], input[type="text"] {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #000;
  width: 120px;
  text-align: center;
  margin: 5px 0;
  
}

input[type="number"]:disabled {
  background-color: #333;
  color: #888;
}

/* Buttons */
.btn {
  display: flex;
  justify-content: center;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  padding: 4px 15px;
  border: none;
  border-radius: 8px;
  background-color: #FFC200;
  color: #000;
  box-shadow: 0 4px 8px rgba(254, 252, 252, 0.1);
  font-size: 1em;
  cursor: pointer;
  margin: 0 0 0;
  transition: all 0.3s ease;
  cursor: pointer;
}

button span {
  font-size: 1.5rem;
  margin-right: 5px;
}

button:hover:not(:disabled) {
  background-color: #D52E2E;
  color: #fff;
}

/* Bouton KABOOM */
.btn-kaboom {
  display: inline-block;
  padding: 20px 50px;
  background: url('../img/logo_sf.webp') no-repeat center/contain;
  background-color: #469F8B;
  border: none;
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  border-radius: 6px; 
  box-shadow: 0 4px 8px rgba(254, 252, 252, 0.1);
  transition: all 0.5s ease;
  margin: 5px;
}

.btn-kaboom:hover:not(:disabled) {
  background-color: #000;
  border: 1px solid #FFC200;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/* Style pour le titre de manche et fin de partie */
.round-title {
  text-align: center;
  font-size: 2em;
  margin: 20px 0;
  transition: all 0.5s ease;
}

/* Effet spécial pour la fin de partie */
.fin-de-partie {
  color: #FFC200;
  font-size: 2.5em;
  animation: pulse 1s infinite alternate;
}

@keyframes pulse {
  0% { transform: scale(1); color: #FFC200; }
  50% { transform: scale(1.1); color: #FFD700; }
  100% { transform: scale(1); color: #FFC200; }
}

/* Tables */
table.score-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  text-align: center;
}

table.score-table th, table.score-table td {
  border: 1px solid #fff;
  padding: 8px;
}

table.score-table th {
  background-color: #222;
  color: #bdbcbc;
}

table.score-table td {
  background-color: #000;
}

table.score-table td input {
  width: 60px;
}


.stamp {
  font-size: 3rem;
  font-weight: bold;
  color: #469F8B; /* rouge bordeaux */
  display: inline-block;
  opacity: 0;
  transform: scale(2) rotate(-10deg);
  letter-spacing: 3px;
  animation: stamp 0.6s ease-out forwards, shake 0.3s 0.6s ease-in-out 2; 
  /* stamp : apparition et rebond, shake : petit tremblement */
  animation-fill-mode: forwards;
}

@keyframes stamp {
  0% {
    opacity: 0;
    transform: scale(2) rotate(-10deg);
  }
  60% {
    opacity: 1;
    transform: scale(0.95) rotate(3deg);
  }
  80% {
    transform: scale(1.05) rotate(-2deg);
  }
  100% {
    opacity: 1;
    transform: scale(1) rotate(0deg);
  }
}

/* petit tremblement léger pour simuler l’encre qui se fixe */
@keyframes shake {
  0% { transform: translate(0px, 0px) rotate(0deg); }
  25% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 1px) rotate(-1deg); }
  75% { transform: translate(1px, 0px) rotate(0deg); }
  100% { transform: translate(0px, 0px) rotate(0deg); }
}

/* Footer */
footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 15px;
  background-color: #111;
  color: #fff;
  margin-top: 20px;
}

footer p, footer a {
  font-size: 0.9rem;
}


/* Responsive */
@media screen and (max-width: 768px) {
  * {
    font-size: 1rem;
  }

  .title {
    padding: 0;
    margin:0 0 15px;
  }

  h1 {
    font-size: 1.6rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.1rem;
  }

  .navbar {
    position: relative;
    flex-wrap: wrap;
    padding: 10px;
  }
  
  .navbar ul {
    position: fixed;
    top: 0;
    right: -100%; /* hors écran à droite */
    height: 100vh;
    width: 100%;
    background-color: #000;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 20px;
    transition: right 0.5s ease;
    z-index: 1000;
  }

  .navbar ul.show {
     right: 0;
  }

  .navbar ul li {
    margin: 0;
  }

  .navbar ul li a {  
    font-size: 1.9rem;
  }

  /* Logo plus petit sur mobile */
  .navbar .logo img {
    max-width: 100%;
    object-fit: contain;
    top: 0;
    left: 0;
    height: 80px;
  }

  /* Masquer logo quand menu ouvert */
  .logo.hide {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease;
  }

  .burger {
    display: block;
    margin-left: auto;
  }

  .logo-burger {
    display: block;
  }

  .logo-burger img {
    height: 150px;
    margin-top: 100px;
  }

  .large-card { 
    object-fit:contain;
    max-height: 120px;
  }

  input[type="number"], input[type="text"] {
    width: 100%;
  }

  table.score-table td input {
    width: 100%;
  }
  
  footer {
    flex-direction: column;
    gap: 5px;
  }

  footer p:nth-child(1) {
    order: 1; /* KABOOM reste premier */
  }

  footer p:nth-child(3) {
    order: 2; /* Designed by reste deuxième */
  }

  footer p:nth-child(2) {
    order: 3; /* Mentions légales devient dernier */
  }
}

section.landing {
  position: relative;
}

.landing-card {
  width: 500px;
  height: auto;
}

.absolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-0%, -50%);
  z-index: -1; /* Passe derrière */
  opacity: 0.8; /* Optionnel si tu veux un effet "filigrane" */
}

.star-1{
  width: 80px;
  height: auto;
  position: absolute;
  top: 20px;
  right: 50px;
  animation: star 10s ease-in-out 2s infinite;
}

@keyframes star {
    0%{
        transform: translateZ(15px);
    }
    40%{
        transform: translateY(10px);

    }
    80%{
        transform: rotate(180deg);
    }
    100%{
        transform: translateZ(-15px);
    }
    
}

.star-2{
  width: 50px;
  height: auto;
    position: absolute;
    top: 20px;
    right: 0px;
    animation: star 10s ease-in-out 2s infinite;
}

@keyframes vasy {
    0%{
        transform: translateZ(15px);
    }
    20%{
        transform: translateY(10px);
    }
    40%{
        transform: translateX(10px);
    }
    60%{
        transform: translateY(-10px);
    }
    80%{
        transform: rotate(180deg);
    }
    100%{
        transform: translateZ(-15px);
    }
    
}


